# Ignore both root files and root directories...
/*
/*/

# ...except these folders (and eventually their content) down here...
!/docs
!/docs/*
!/.git
!/include
!/include/*
!/scripts
!/tests
!/tests/*

# ...and except these files down here...
!/CMakeLists.txt
!/Doxyfile
!/.gitignore
!/.gitmodules
!/README.md