# Ignore both root files and root directories...
/*

# ...except these folders down here...
!/build
!/cmake
!/deps
!/docs
!/.git
!/include
!/tests

# ...and these files down here...
!/CMakeLists.txt
!/Doxyfile
!/.gitignore
!/.gitmodules
!/README.md